body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

main.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section.left, section.right {
    flex: 1;
    margin-right: 10px;
}

section.middle {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: antiquewhite;
}

section.middle section {
    border: 2px solid blue;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

form.principal-singup, form.notary-signup {
    display: flex;
    flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], input[type="time"], select {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    main.content {
        flex-direction: column;
    }

    section.left, section.right, section.middle {
        margin-right: 0;
        margin-bottom: 20px;
    }
}